@import "reset";

:root {
  --color-primaryColor: #4DB6AC;
  --textColor-primaryColor: #000000;
  --color-light-primaryColor: #B2DFDB;
  --textColor-light-primaryColor: #000000;
  --color-dark-primaryColor: #009688;
  --textColor-dark-primaryColor: #000000;
  --color-grayColor: #CFD8DC;
  --textColor-grayColor: #000000;
  --color-light-grayColor: #ffffff;
  --textColor-light-grayColor: #000000;
  --color-dark-grayColor: #90A4AE;
  --textColor-dark-grayColor: #000000;
  --color-secondaryColor: #FFD54F;
  --textColor-secondaryColor: #000000;
  --color-light-secondaryColor: #FFECB3;
  --textColor-light-secondaryColor: #000000;
  --color-dark-secondaryColor: #FFC107;
  --textColor-dark-secondaryColor: #000000;
  --color-redColor: #EF5350;
  --textColor-redColor: #000000;
  --color-light-redColor: #EF9A9A;
  --textColor-light-redColor: #000000;
  --color-dark-redColor: #E53935;
  --textColor-dark-redColor: #000000;
  --color-yellowColor: #FFEB3B;
  --textColor-yellowColor: #000000;
  --color-light-yellowColor: #FFF176;
  --textColor-light-yellowColor: #000000;
  --color-dark-yellowColor: #FBC02D;
  --textColor-dark-yellowColor: #000000;
  --color-greenColor: #43A047;
  --textColor-greenColor: #000000;
  --color-light-greenColor: #A5D6A7;
  --textColor-light-greenColor: #000000;
  --color-dark-greenColor: #2E7D32;
  --textColor-dark-greenColor: #ffffff;
  --color-headerColor: #CFD8DC;
  --textColor-headerColor: #000000;
  --color-light-headerColor: #ECEFF1;
  --textColor-light-headerColor: #000000;
  --color-dark-headerColor: #B0BEC5;
  --textColor-dark-headerColor: #000000;
  --color-body: #ffffff;
  --textColor-body: #000000;
  --color-light-body: #ffffff;
  --textColor-light-body: #000000;
  --color-dark-body: #ffffff;
  --textColor-dark-body: #000000;
  --color-focusOutlineColor: #D32F2F;
  --textColor-focusOutlineColor: #ffffff;
  --color-light-focusOutlineColor: #F44336;
  --textColor-light-focusOutlineColor: #000000;
  --color-dark-focusOutlineColor: #B71C1C;
  --textColor-dark-focusOutlineColor: #ffffff;
}

body {
  font-family: helvetica;
  background: var(--color-body);
  color: var(--textColor-body);
  overflow-x: hidden;
}

.buttonEl {
  button {
    margin: 0;
    padding: 0.2em;
  }
  img,
  svg {
    vertical-align: middle;
    transition: all 200ms ease 0s;
    height: 1.2em;
  }
}

button {
  min-height: 1.6em;
  min-width: 1.6em;
  color: var(--textColor-body);
  background-color: transparent;
  cursor: pointer;
  margin: 0.2em;
  border: medium none;
  font-size: 1em;
  font-family: inherit;
  line-height: 1;
  align-self: center;
  padding: 0 0.2em;
  white-space: nowrap;
  outline: currentcolor none medium;
  outline-offset: -0.1em;

  // &:hover {
  //   opacity: 0.8;
  // }

  > .text {
    padding: 0 1em;
  }
  // ????????????????????????????????????????????????
  &.buttonEl {
    margin: 0;
    padding: 0.2em;
  }
}

/********************************************************/
.top-row, .topRow {
  position: fixed;
  z-index: 500;
  width: 100%;
}

.hide-on-scroll, .hideOnScroll {
  z-index: 490;
}

.fullScreen {
  height: 100vh;
}

//HEADER
.filterArea {
  background-color: var(--color-darkPrimaryColor);
  color: var(--textColor-body);

  > button {
    border: medium none;
    cursor: pointer;
    font-size: 1em;
    align-self: center;
    font-family: inherit;
    outline: currentcolor none medium;
    outline-offset: -0.1em;
    line-height: 1;
  }
}

//POPUP
.popupItem button {
  padding: 0;
  margin: 0;
  width: 100%;
}

.gridPopup {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: white;
  z-index: 1;
}

//GRID
div.grid {
  border-collapse: collapse;
  --secondary-color: rgb(238, 238, 238);
  border-spacing: 0;
  --highlight-color: #f8f8cb;

  //TABLE
  > .tableHeadContainer {
    font-weight: bold;
    vertical-align: middle;
    overflow: visible;
    background-color: var(--color-secondaryColor);

    .clickableDiv:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  > .tableCellContainer {
    border-width: 0.5px;
    border-style: solid;
    padding: 0.1em 0.2em;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    outline: red none 1px;
    outline-offset: -1px;
    vertical-align: middle;
    display: flex;
    align-items: center;

    &:hover {
      overflow: visible;

      .hoverExpander {
        background-color: var(--color-primaryColor);
        position: relative;
        z-index: 10;
      }
    }
  }

  //EXPANDER
  > .closedExpander {
    background-color: silver;
  }

  > .openedExpander {
    background-color: grey;
  }

  > div[data-expander="expanded"] {
    > img {
      transform: rotate(-180deg);
      transition: transform 0.25s linear;
    }

    > div > .expanderElement {
      transform: rotate(180deg);
    }
  }

  .expanderElementContainer {
    margin: 0.2em;
    align-self: center;
  }

  .expanderElement {
    display: block;
    height: 1em;
    cursor: pointer;
    align-self: center;
  }

  div[data-expander="collapsed"] {
    > img {
      transform: rotate(0deg);
      transition: transform 0.25s linear;
    }
  }

  > div[data-expander="passive"] {
    visibility: hidden;
    position: fixed;
  }

  .dragElement {
    height: 1.3em;
    width: 1.3em;
    display: block;
    margin: auto;
  }

  > .emptyCell {
    border: 0.5px solid var(--color-secondaryColor);
  }
}

.chipItem {
  font-size: 1em;
  text-align: center;
  border-radius: 0.28em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 0.25em 0.55em;
  white-space: nowrap;
  align-self: center;
  user-select: none;
  line-height: 1em;
  margin: 0.2em;
  min-width: 0.5em;
  min-height: 1em;
  font-weight: normal !important;
}

//ICONS
.rowIconSize {
  height: 2em;
  width: 2em;
}

.filterButtonIcon {
  height: 1.3em;
  width: 1.3em;
}

.hideFilterIcon {
  height: 1.2em;
  width: 1.2em;
}

//COLORS
.headerColor-border {
  border-color: var(--color-secondaryColor);
}

.primaryColor {
  background-color: #e5d089;
  color: white;
}

.darkPrimaryColor {
  background-color: rgb(176, 162, 116);
  color: rgb(255, 255, 255);
}

.lightPrimaryColor {
  background-color: #af8f26;
}

.greenColor {
  background-color: rgb(5, 119, 49);
  color: rgb(255, 255, 255);
}

.greenColor-light {
  background-color: rgb(31, 246, 114);
  color: rgb(255, 255, 255);
}

.redColor {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}

// body {
//     transform: skewY(45deg);
// }
// body *:hover {
//     transform: skewY(-15deg);
// }

.popupEl, .popup:not(.popup .popup) {
  border: 0.05em solid var(--color-headerColor) !important;
  box-shadow: 0 0 0.3125em var(--color-dark-headerColor);
  z-index: 10003;
  background-color: var(--color-body);
}

.rotate180deg {
  transform: rotate(-180deg);
}

.inputBox {
  display: flex;
  height: auto;
  line-height: 1;
  vertical-align: middle;
  width: 350px;
  background: var(--color-body);
  color: var(--textColor-body);
  box-sizing: border-box;
  position: relative;
  border: 0.05em solid var(--color-secondaryColor);

  &:hover {
    border-color: var(--light-secondaryColor);
  }

  > .inputSubBox {
    flex: 1 1 0%;
    height: auto;
    min-height: 100%;
    display: flex;
    position: relative;
    text-align: left;

    > input {
      margin: 0rem;
      vertical-align: top;
      border: medium none;
      height: 100%;
      padding: 0.2172em 0.3125em;
      width: 100%;
      z-index: 0;
      box-sizing: border-box;
      font-size: inherit;
      outline: currentcolor none medium;
      text-align: inherit;
      font-family: inherit;
      color: inherit;
      line-height: normal;
      background-color: inherit;
      flex: 1 1 20%;
      min-width: 0;
    }
  }

  .btnCalendar {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16116 17000' width='100%25' height='100%25'%3E%3Cpath d='M1347 1671l1642 0 0 -1114c0,-307 250,-557 558,-557 307,0 557,250 557,557l0 1114 3397 0 0 -1114c0,-307 249,-557 557,-557 308,0 557,250 557,557l0 1114 3462 0 0 -1114c0,-307 250,-557 557,-557 308,0 557,250 557,557l0 1114 1578 0c369,0 706,152 951,397 244,242 396,579 396,950l0 12635c0,371 -152,708 -395,952 -244,243 -581,395 -952,395l-13422 0c-371,0 -708,-152 -952,-395 -243,-246 -395,-583 -395,-952l0 -12635c0,-368 151,-705 395,-949l2 -3c245,-244 582,-395 950,-395zm2757 1114l0 627c0,308 -250,557 -557,557 -308,0 -558,-249 -558,-557l0 -627 -1642 0c-65,0 -123,26 -164,67l-2 2c-41,41 -67,99 -67,164l0 12635c0,65 26,123 67,164l2 0c42,42 100,69 164,69l13422 0c64,0 122,-27 164,-69 42,-42 69,-100 69,-164l0 -12635c0,-63 -27,-122 -69,-164l0 -2c-41,-41 -99,-67 -164,-67l-1578 0 0 627c0,308 -249,557 -557,557 -307,0 -557,-249 -557,-557l0 -627 -3462 0 0 627c0,308 -249,557 -557,557 -308,0 -557,-249 -557,-557l0 -627 -3397 0z'/%3E%3Cpath d='M2711 4805l2159 0 0 2577 -2577 0 0 -2577 418 0zm1323 836l-905 0 0 905 905 0 0 -905z'/%3E%3Cpath d='M2711 8496l2159 0 0 2576 -2577 0 0 -2576 418 0zm1323 836l-905 0 0 905 905 0 0 -905z'/%3E%3Cpath d='M2711 12152l2159 0 0 2576 -2577 0 0 -2576 418 0zm1323 835l-905 0 0 906 905 0 0 -906z'/%3E%3Cpath d='M6889 4805l2159 0 0 2577 -2577 0 0 -2577 418 0zm1323 836l-905 0 0 905 905 0 0 -905z'/%3E%3Cpath d='M6889 8496l2159 0 0 2576 -2577 0 0 -2576 418 0zm1323 836l-905 0 0 905 905 0 0 -905z'/%3E%3Cpath d='M6889 12152l2159 0 0 2576 -2577 0 0 -2576 418 0zm1323 835l-905 0 0 906 905 0 0 -906z'/%3E%3Cpath d='M11311 4805l2159 0 0 2577 -2577 0 0 -2577 418 0zm1323 836l-905 0 0 905 905 0 0 -905z'/%3E%3Cpath d='M11311 8496l2159 0 0 2576 -2577 0 0 -2576 418 0zm1323 836l-905 0 0 905 905 0 0 -905z'/%3E%3Cpath d='M11311 12152l2159 0 0 2576 -2577 0 0 -2576 418 0zm1323 835l-905 0 0 906 905 0 0 -906z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    transition: all 200ms ease;
  }

  .dpCalendar {
    max-width: 19.5em;
    text-align: center;
    border: 1px solid gray;
    padding: 0.1em;
    z-index: 1;
  
    .dpCalendarHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2.2em;
      font-size: 1.05em;
  
      >button {
        background: no-repeat center url(.\datepicker\arrow-down.svg);
        transform: rotate(90deg);
        background-size: 55% 55%;
  
        &.dpArrowRight {
          transform: rotate(-90deg);
        }
  
        &:hover {
          background-color: lightgray;
        }
      }
  
      .dpCalendarMonthYear {
        display: flex;
  
        .dpCalendarMonth {
          margin: 0 0.7em 0 0;
  
          button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 6.5em;
            min-height: auto;
            margin: 0;
            padding: 0.4em 0.2em 0.4em 0.4em;
      
            &::after {
              display: block;
              content: "";
              width: 0.7em;
              height: 0.7em;
              background: no-repeat center url(.\datepicker\arrow-down.svg);
              background-size: 100% 100%;
              transition: all 0.15s ease;
            }

            &.rotateArrow::after {
              transform: rotate(-180deg);
            }
  
            &:hover {
              background: #f3f3f3;
              color: initial;
            }
          }
          
          .popupEl {
            text-align: start;
      
            & span {
              display: block;
              cursor: default;
              padding: 0.12em 1em 0.12em 0.4em;
              font-weight: normal;
      
              &:hover {
                background: lightgray;
              }
            }
          }
        }

        .dpCalendarYears {
          display: flex;
          padding-left: 0.3em;
          
          span {
            align-self: center;
            margin-right: 0.5em;
          }
  
          & .dpArrowBtnsCont {
            border: 1px solid lightgray;
          }
        }
      }
    }
  
    .dpArrowBtnsCont {
  
      button {
        display: block;
        margin: 0;
        padding: 0 6px;
        min-width: 0.5em;
        min-height: 0.5em;
        background: no-repeat center url(.\datepicker\sort-desc.svg);
        background-size: 0.5em 0.5em;
        height: 50%;
  
        &:hover {
          background-color: lightgray;
        }
  
        &.dpArrowBtnUp {
          transform: rotate(180deg);
          border-top: 1px solid gray;
        }
      }
    }
  
    .dpCalendarContainer {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 0.5em;
  
      span {
        padding: 0.3em 0;
        margin: 0.1em;
      }
  
      .dpCalendarWeekDays {
        display: flex;
        width: 100%;
        margin: 0 0 0 12.5%;
        font-size: 0.8em;
        color: darkblue;
  
        span {
          flex: 1;
        }
      }
  
      .dpCalendarWeekNums {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-right: 1px solid darkblue;
        color: darkblue;
        font-size: 0.9em;
      }
  
      .dpCalendarDays {
        flex: 7;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-items: center;
  
        span {
          width: 100%;
  
          &.current {
            color: white;
            background-color: blue;
          }
  
          &.today {
            border: 1px solid blue;
          }
  
          &:hover {
            cursor: pointer;
            background: lightgray;
          }
        }
  
        .dayNextMonth, .dayPrevMonth {
          color: gray;
        }
      }
    }
  
    .dpTimeContainer {
      display: flex;
      width: 100%;    
      border-top: 1px solid lightgray;
      height: 2.1em;
  
      > .dpTimeSection {
        flex-grow: 1;
        display: flex;
  
        > span {
          flex-grow: 1;
          align-self: center;
        }
  
        .dpArrowBtnsCont {
          border-left: 1px solid gray;
          border-right: 1px solid transparent;
        }
  
        &:first-child .dpArrowBtnsCont {
          border-right: 1px solid gray;
        }
      }
  
      .dpTimeSeparator {
        align-self: center;
        margin: 0 0.4em;
        font-weight: bold;
      }    
    }
  
    .dpCtrlBtnsCont {
      display: flex;
      justify-content: space-around;
      width: 100%;
      border-top: 1px solid lightgray;
      padding: 0.3em 0;
  
      button {
        border: 1px solid lightgray;
        width: 38%;
        min-width: min-content;
        padding: 0;
  
        &:hover {
          color: white;
  
          &.dpBtnNow {
            background: blue;
          }
  
          &.dpBtnClose {
            background: red;
          }
        }
      }
    }
  }
}

// Dropdown with custom content
.customDropdownBox {
  box-sizing: border-box;
  display: flex;
  background: var(--color-body);
  color: var(--textColor-body);
  border: 0.05em solid var(--color-headerColor);

  &:hover {
    border-color: var(--color-dark-headerColor);
  }

  .customContentBox,
  input {
    flex-grow: 1;
    padding: 0.2172em 0.3125em;
  }

  .customContentBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-wrap: anywhere;
    cursor: pointer;

    span {
      margin: 0 0.2em 0 0;

      &:not(.chipItem) {
        padding: 0.25em 0;
      }
    }
  }

  &.customDropdownRo {
    .customContentBox,
    span {
      cursor: default;
    }
  }

  input {
    font-size: inherit;
    font-family: inherit;
    background-color: inherit;
    min-width: 0;
    border: none;
  }

  button.buttonEl {
    align-self: flex-start;
  }

  .dropdownPopup {
    max-height: 10em;
    overflow: auto;
  }
}

.popupEl {
  border: 0.05em solid var(--color-headerColor);
  z-index: 10003;
  background: var(--color-body);
  // Color Picker

  .inputBox {
    &.colorPickerRo {
      border: none;

      input {
        margin: 0;
        height: 100%;
        cursor: default;
      }
    }

    input.colorPickerChip {
      color: transparent !important;
      border-radius: 0.28em;
      margin: 0 0.2em;
      height: 78%;
      align-self: center;
      cursor: pointer;
      background: repeating-linear-gradient(45deg, lightgray 0 8%, white 8% 16%);
      box-shadow: 0px 0px 0px 1px var(--color-headerColor);
      transition: background 0.2s ease-out;
    }

    > .colorPickerPopup {
      z-index: 501; // to overcome .filterArea z-index
      border: 1px solid var(--textColor-primaryColor);

      .react-colorful__saturation-pointer {
        width: 8px;
        height: 8px;
        border-radius: 2px;
      }

      .react-colorful__hue-pointer {
        width: 14px;
        border-radius: 0px;
      }

      .react-colorful__saturation {
        border-radius: 0px;
      }

      .react-colorful__last-control {
        border-radius: 0px;
      }
    }
  }
}

// RouteElement
.routeElement {
  display: flex;
  height: 1.8em;
  width: 100%;
  background-color: var(--color-grayColor);
  color: var(--textColor-grayColor);
  border-radius: 1em;
  margin: 5em;
  max-width: 500px;;

  > div {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid var(--color-dark-grayColor);
      overflow: hidden;
      padding: 0 0.4em;

      &.routePartDone {
          //background-color: var(--color-dark-primaryColor);
          background-color: var(--color-light-greenColor);
          color: var(--textColor-dark-primaryColor);
      }

      &.isLastDone, &:last-child {
          border-radius: 0 1em 1em 0;
      }
  }
}
/***********************Menu**************************/
.mainMenuBar {
  position: fixed !important;
  height: 2.7em !important;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  border-bottom: 0.15em solid var(--color-dark-primaryColor);
  background-color: var(--color-primaryColor);
  color: var(--textColor-primaryColor);

  > div {
    display: flex;
    height: 100%;
  }

  .menuItem {
    display: flex;
    align-items: center;
    min-height: 2.4em;
    white-space: nowrap;
    cursor: pointer;

    &.isCurrent {
      color: var(--textColor-primaryColor);
      background-color: var(--color-primaryColor);
    }

    &:hover {
      background-color: var(--color-light-primaryColor);
      color: var(--textColor-light-primaryColor);
    }

    &.executeAnim {
      animation: executeAnimation 0.4s ease-out infinite alternate;

      @keyframes executeAnimation {
          0% { opacity: 1 }
          100% { opacity: 0.5 }
      }
    }

    .menuFolderIcon {
      transition: transform 0.15s ease 0s;
      height: 1em;
      margin-right: 0.5em;
    }

    > span {
      padding: 0 0.5em;
      // padding: 0 1.8em 0 1em;  // 2020
      flex-grow: 1;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    > img.rowIconSize {
        margin-left: 0.5em;
    }
  }

  .menuCustomItem {
    display: flex;
    align-items: center;
    margin: 0 0.5em;
    cursor: default;

    > .shoppingBasket > button {
      padding: 0;
      background-color: inherit;
      line-height: normal;
      color: inherit;
      height: 1.6em;
    }
  }

  .menuLogo > img {
    max-width: 18em;
    max-height: 100%;
  }

  .menuPopupBox {
    min-width: 13.5em !important;
    color: var(--textColor-body);

    &.hasIcons > .menuItem > span:first-child {
      margin-left: 2.5em;
   }

    .menuFolderIcon {
      transform: rotate(-90deg);
      margin-right: 0.1em;
    }

    .menuFolderOpened > .menuFolderIcon {
      transform: rotate(-270deg);
    }

    .menuItem:first-child > .menuPopupBox {
      margin-top: -1px;
    }

    hr {
      background-color: var(--color-dark-primaryColor);
      height: 0.06em;
      margin: 0 0.3em;
      border: none;
    }

    hr + hr,
    hr:first-child,
    hr:last-child {
      display: none;
    }
  }

  // top level menu items
  .leftMenuBox, .rightMenuBox  {
    > .menuItem {
      &.menuFolderOpened > .menuFolderIcon {
        transform: rotate(-180deg);
      }

      .menuPopupBox {
        margin-top: 0.07em;
      }
    }

    > .menuItem,
    > .menuPopupBox >.menuItem {
      max-width: 20em;
      color: var(--textColor-primaryColor);

      &.isCurrent:not(:hover) {
        background-color: var(--color-dark-primaryColor);
        color: var(--textColor-dark-primaryColor);
      }
    }

    &.hiddenIcons > .menuItem > img.rowIconSize:first-child {
      display: none;
    }
  }

  .rightMenuBox {
    .dateTimeClock > .dateDisplay {
      padding-right: 0.3em;
    }

    &:not(.rightMenuCompressed) .shortName {
      display: none;
    }

    &.rightMenuCompressed {
      .longName,
      .dateTimeClock > .dateDisplay {
        display: none;
      }
    }
  }

  .menuBurgerBox  {
    display: flex;

    > .menuPopupBox {
      background: var(--color-primaryColor);
      border: none!important;
      box-shadow: none!important;
      margin-top: 0.15em;
    }
  }

  .btnBurger {
    margin: 0 0 0 0.5em;

    > svg {
      width: 1.5em;
      stroke: var(--textColor-primaryColor);

      > line {
        transition: transform 100ms;
        transform-origin: center;
      }
    }
  }
}


/***********************Virtual Keyboard**************************/
.virtualKeyboard {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;

  font-size: 0.35em;
  border: 1px solid black;

  button {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-light-headerColor);

    border: 1px solid black;
  }
}