@import "reset";

:root {
  --color-secondaryColor: rgb(225, 225, 225);
  --light-secondaryColor: hsl(0, 0%, 63.3333%);
  --color-body: hsl(0, 0%, 100%);
  --textColor-body: hsl(0, 0%, 12.9412%);
  --color-darkPrimaryColor: rgb(176, 162, 116);
}

body {
  font-family: helvetica;
  background: var(--color-body);
  color: var(--textColor-body);
  overflow-x: hidden;
}

button {
  min-height: 1.6em;
  min-width: 1.6em;
  color: var(--textColor-body);
  background-color: transparent;
  cursor: pointer;
  margin: 0.2em;
  border: medium none;
  font-size: 1em;
  font-family: inherit;
  line-height: 1;
  align-self: center;
  padding: 0 0.2em;
  white-space: nowrap;
  outline: currentcolor none medium;
  outline-offset: -0.1em;

  &:hover {
    opacity: 0.8;
  }

  > .text {
    padding: 0 1em;
  }
}


//HEADER
.filterArea {
  background-color: var(--color-darkPrimaryColor);
  color: var(--textColor-body);

  > button {
    border: medium none;
    cursor: pointer;
    font-size: 1em;
    align-self: center;
    font-family: inherit;
    outline: currentcolor none medium;
    outline-offset: -0.1em;
    line-height: 1;
  }
}

//POPUP
.popupItem button {
  padding: 0;
  margin: 0;
  width: 100%;
}

.gridPopup {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: white;
  z-index: 1;
}


//GRID
div.grid {
  border-collapse: collapse;
  --secondary-color: rgb(238, 238, 238);
  border-spacing: 0;
  --highlight-color: #f8f8cb;


  //TABLE
  > .tableHeadContainer {
    font-weight: bold;
    vertical-align: middle;
    overflow: visible;
    background-color: var(--color-secondaryColor);

    .clickableDiv:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  > .tableCellContainer {
    border-width: 0.5px;
    border-style: solid;
    padding: 0.1em 0.2em;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    outline: red none 1px;
    outline-offset: -1px;
    vertical-align: middle;
    display: flex;
    align-items: center;
  }


  //EXPANDER
  > .closedExpander {
    background-color: silver;
  }

  > .openedExpander {
    background-color: grey;
  }

  > div[data-expander='expanded'] {
    > img {
      transform: rotate(-180deg);
      transition: transform 0.25s linear;
    }

    > div > .expanderElement {
      transform: rotate(180deg);
    }
  }

  .expanderElementContainer {
    margin: 0.2em;
    align-self: center;
  }

  .expanderElement {
    display: block;
    height: 1em;
    cursor: pointer;
    align-self: center;
  }

  div[data-expander="collapsed"] {
    > img {
      transform: rotate(0deg);
      transition: transform 0.25s linear;
    }
  }

  > div[data-expander='passive'] {
    visibility: hidden;
    position: fixed;
  }


  .dragElement {
    height: 1.3em;
    width: 1.3em;
    display: block;
    margin: auto;
  }

  > .emptyCell {
    border: 0.5px solid var(--color-secondaryColor);
  }
}

.chipItem {
  font-size: 1em;
  text-align: center;
  border-radius: 0.28em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 0.25em 0.55em;
  white-space: nowrap;
  align-self: center;
  user-select: none;
  line-height: 1em;
  margin: 0.2em;
  min-width: 0.5em;
  min-height: 1em;
  font-weight: normal !important;
}


//ICONS
.rowIconSize {
  height: 2em;
  width: 2em;
}

.filterButtonIcon {
  height: 1.3em;
  width: 1.3em;
}

.hideFilterIcon {
  height: 1.2em;
  width: 1.2em;
}


//COLORS
.headerColor-border {
  border-color: var(--color-secondaryColor);
}

.primaryColor {
  background-color: #e5d089;
  color: white;
}

.darkPrimaryColor {
  background-color: rgb(176, 162, 116);
  color: rgb(255, 255, 255);
}

.lightPrimaryColor {
  background-color: #af8f26;
}

.greenColor {
  background-color: rgb(5, 119, 49);
  color: rgb(255, 255, 255);
}

.greenColor-light {
  background-color: rgb(31, 246, 114);
  color: rgb(255, 255, 255);
}

.redColor {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}

// body {
//     transform: skewY(45deg);
// }
// body *:hover {
//     transform: skewY(-15deg);
// }

.inputBox {
  display: flex;
  height: auto;
  line-height: 1;
  vertical-align: middle;
  width: 350px;
  background: var(--color-body);
  color: var(--textColor-body);
  box-sizing: border-box;
  position: relative;
  border: 0.05em solid var(--color-secondaryColor);

  &:hover {
    border-color: var(--light-secondaryColor);
  }

  > .inputSubBox {
    flex: 1 1 0%;
    height: auto;
    min-height: 100%;
    display: flex;
    position: relative;
    text-align: left;

    > input {
      margin: 0rem;
      vertical-align: top;
      border: medium none;
      height: 100%;
      padding: 0.2172em 0.3125em;
      width: 100%;
      z-index: 0;
      box-sizing: border-box;
      font-size: inherit;
      outline: currentcolor none medium;
      text-align: inherit;
      font-family: inherit;
      color: inherit;
      line-height: normal;
      background-color: inherit;
      flex: 1 1 20%;
      min-width: 0;
    }
  }

  .btnCalendar {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16116 17000' width='100%25' height='100%25'%3E%3Cpath d='M1347 1671l1642 0 0 -1114c0,-307 250,-557 558,-557 307,0 557,250 557,557l0 1114 3397 0 0 -1114c0,-307 249,-557 557,-557 308,0 557,250 557,557l0 1114 3462 0 0 -1114c0,-307 250,-557 557,-557 308,0 557,250 557,557l0 1114 1578 0c369,0 706,152 951,397 244,242 396,579 396,950l0 12635c0,371 -152,708 -395,952 -244,243 -581,395 -952,395l-13422 0c-371,0 -708,-152 -952,-395 -243,-246 -395,-583 -395,-952l0 -12635c0,-368 151,-705 395,-949l2 -3c245,-244 582,-395 950,-395zm2757 1114l0 627c0,308 -250,557 -557,557 -308,0 -558,-249 -558,-557l0 -627 -1642 0c-65,0 -123,26 -164,67l-2 2c-41,41 -67,99 -67,164l0 12635c0,65 26,123 67,164l2 0c42,42 100,69 164,69l13422 0c64,0 122,-27 164,-69 42,-42 69,-100 69,-164l0 -12635c0,-63 -27,-122 -69,-164l0 -2c-41,-41 -99,-67 -164,-67l-1578 0 0 627c0,308 -249,557 -557,557 -307,0 -557,-249 -557,-557l0 -627 -3462 0 0 627c0,308 -249,557 -557,557 -308,0 -557,-249 -557,-557l0 -627 -3397 0z'/%3E%3Cpath d='M2711 4805l2159 0 0 2577 -2577 0 0 -2577 418 0zm1323 836l-905 0 0 905 905 0 0 -905z'/%3E%3Cpath d='M2711 8496l2159 0 0 2576 -2577 0 0 -2576 418 0zm1323 836l-905 0 0 905 905 0 0 -905z'/%3E%3Cpath d='M2711 12152l2159 0 0 2576 -2577 0 0 -2576 418 0zm1323 835l-905 0 0 906 905 0 0 -906z'/%3E%3Cpath d='M6889 4805l2159 0 0 2577 -2577 0 0 -2577 418 0zm1323 836l-905 0 0 905 905 0 0 -905z'/%3E%3Cpath d='M6889 8496l2159 0 0 2576 -2577 0 0 -2576 418 0zm1323 836l-905 0 0 905 905 0 0 -905z'/%3E%3Cpath d='M6889 12152l2159 0 0 2576 -2577 0 0 -2576 418 0zm1323 835l-905 0 0 906 905 0 0 -906z'/%3E%3Cpath d='M11311 4805l2159 0 0 2577 -2577 0 0 -2577 418 0zm1323 836l-905 0 0 905 905 0 0 -905z'/%3E%3Cpath d='M11311 8496l2159 0 0 2576 -2577 0 0 -2576 418 0zm1323 836l-905 0 0 905 905 0 0 -905z'/%3E%3Cpath d='M11311 12152l2159 0 0 2576 -2577 0 0 -2576 418 0zm1323 835l-905 0 0 906 905 0 0 -906z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    transition: all 200ms ease;
  }

  &.dpCalendarOpen .btnCalendar {
    transform: rotate(180deg);
  }
}

.dpCalendar {
  max-width: 320px;
  text-align: center;
  border: 1px solid gray;
  padding: 0.1em;

  .dpCalendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.2em;
    font-size: 1.05em;

    >button {
      font-weight: bold;
      background: no-repeat center url(https://de-aaf-alc-def.cone.dev/mod/main/ee/cone/core/ui/c4view/pagging/left.svg);
      background-size: 50% 50%;

      &.dpArrowRight {
        transform: rotate(180deg);
      }

      &:hover {
        // change svg color to darkblue
        filter: invert(17%) sepia(66%) saturate(6664%) hue-rotate(244deg) brightness(53%) contrast(150%);
      }
    }

    .dpCalendarMonthYear {
      display: flex;

      .dpCalendarCurrMonth {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 6.5em;
        min-height: auto;
        margin: 0 0.7em 0 0;
        padding: 0.4em 0.2em 0.4em 0.4em;
  
        &::after {
          display: block;
          content: "";
          width: 0.6em;
          height: 0.6em;
          background: no-repeat center url(https://de-aaf-alc-def.cone.dev/mod/main/ee/cone/core/ui/c4view/pagging/left.svg);
          background-size: 100% 100%;
          transform: rotate(-90deg);
          // background-color: black;
          // clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        }

        &:hover {
          background: #f3f3f3;
          color: initial;
        }
      }
  
      .dpCalendarMonthPopup {
        text-align: start;
        background: white;
        box-shadow: 0 0 2px 2px lightgrey;
  
        & span {
          display: block;
          cursor: default;
          padding: 0.1em 1em 0.1em 0.4em;
          font-weight: normal;
  
          &:hover {
            background: lightgray;
          }
        }
      }

      .dpCalendarYears {
        display: flex;
        padding-left: 0.3em;

        &:hover {
          background: #f3f3f3;
        }
        
        span {
          align-self: center;
          margin-right: 0.5em;
        }

        & .dpArrowBtnsCont {
          border: 1px solid lightgray;
        }

        &:hover .dpArrowBtnsCont {
          opacity: 1;
        }
      }

    }
  }

  .dpArrowBtnsCont {
    opacity: 0;

    button {
      display: block;
      margin: 0;
      padding: 0 6px;
      min-width: 0.5em;
      min-height: 0.5em;
      background: no-repeat center url(https://de-aaf-alc-def.cone.dev/mod/main/ee/cone/core/ui/c4view/listControl/sort-desc.svg);
      background-size: 0.5em 0.5em;
      height: 50%;

      &:hover {
        background-color: lightgray;
      }

      // &::after {
      //   display: block;
      //   content: "";
      //   width: 0.5em;
      //   height: 0.5em;
      //   background-color: black;
      //   clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      // }

      &.dpArrowBtnUp {
        transform: rotate(180deg);
        border-top: 1px solid gray;
      }
    }
  }

  .dpCalendarContainer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5em;

    span {
      padding: 0.4em 0.05em;
      margin: 0.1em;
    }

    .dpCalendarWeekDays {
      display: flex;
      width: 100%;
      margin: 0 0 0 12.5%;
      font-size: 0.8em;
      color: darkblue;

      span {
        flex: 1;
      }
    }

    .dpCalendarWeekNums {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-right: 1px solid darkblue;
      color: darkblue;
      font-size: 0.9em;
    }

    .dpCalendarDays {
      flex: 7;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-items: center;

      span {
        width: 100%;

        &.current {
          color: white;
          background-color: blue;
        }

        &.today {
          border: 1px solid blue;
        }

        &:hover {
          cursor: pointer;
          background: lightgray;
        }
      }

      .dayNextMonth,
      .dayPrevMonth {
        color: gray;
      }
    }
  }

  .dpTimeContainer {
    display: flex;
    width: 100%;    
    border-top: 1px solid lightgray;
    height: 2.1em;

    > .dpTimeSection {
      flex-grow: 1;
      display: flex;

      &:hover {
        background: #f3f3f3;
      }

      > span {
        flex-grow: 1;
        align-self: center;
      }

      .dpArrowBtnsCont {
        border-left: 1px solid gray;
        border-right: 1px solid transparent;
      }

      &:hover .dpArrowBtnsCont {
        opacity: 1;
      }

      &:first-child .dpArrowBtnsCont {
        border-right: 1px solid gray;
      }
    }

    .dpTimeSeparator {
      align-self: center;
      margin: 0 0.4em;
      font-weight: bold;
    }    
  }

  .dpCtrlBtnsCont {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid lightgray;
    padding: 0.3em 0;

    button {
      border: 1px solid lightgray;
      width: 38%;
      min-width: min-content;
      padding: 0;

      &:hover {
        color: white;

        &.dpBtnNow {
          background: blue;
        }

        &.dpBtnClose {
          background: red;
        }
      }
    }

    
  }
}