# Set the default behavior, in case people don't have core.autocrlf set.
#* text eol=lf

# Declare files that will always have LF line endings on checkout.
*.scala text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.svg text eol=lf
*.json text eol=lf
*.html text eol=lf
