//INPUT
.labeledInput {
    margin: 0.2em 0.4em;
    width: auto;
    position: relative;
    align-self: center;

    >label {
        font-size: 0.8em;
        text-transform: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: inherit;
    }

    >.inputBox {
        display: flex;
        height: auto;
        line-height: 1;
        vertical-align: middle;
        width: 100%;
        background: var(--color-body);
        color: var(--textColor-body);
        box-sizing: border-box;
        position: relative;
        border: 0.05em solid var(--color-secondaryColor);

        &:hover {
            border-color: var(--light-secondaryColor);
        }

        >.inputSubbox {
            flex: 1 1 0%;
            height: auto;
            min-height: 100%;
            display: flex;
            position: relative;
            text-align: left;

            >input {
                margin: 0rem;
                vertical-align: top;
                border: medium none;
                height: 100%;
                padding: 0.2172em 0.3125em;
                width: 100%;
                z-index: 0;
                box-sizing: border-box;
                font-size: inherit;
                outline: currentcolor none medium;
                text-align: inherit;
                font-family: inherit;
                color: inherit;
                line-height: normal;
                background-color: inherit;
                flex: 1 1 20%;
                min-width: 0;
            }
        }
    }

    &.expandedInput {
        label {
            display: flex;
            place-items: start;
        }

        input[type="text"] {
            text-align: left;
        }
    }
}